services:
  - type: web
    name: laravel-api
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://<REPLACE_WITH_YOUR_APP_NAME>.onrender.com
